@using MvcKutuphane.Models.Entity
@model MvcKutuphane.Models.Entity.TBLKategori
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>YeniKategori</h2>

<form method="post">
    <label>Kategori Adı</label>
    @Html.TextBoxFor(p=>p.KategoriAd,new { @class = "form-control" , @required = "required" })
    <button class="btn btn-success">Ekle</button>
</form>