@using MvcKutuphane.Models.Entity
@model List<TBLHareket>
@{
    ViewBag.Title = "UyeKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyenin Aldığı Kitaplar</h2>

<table class="table table-bordered table-striped alert-default-light">

    <tr>
        <th>Kitap Adı</th>
        <th>Aldığı Tarih</th>
        <th>Getirdiği Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TBLKitap.KitapAd</td>
            <td>@Convert.ToDateTime(item.AlisTarihi).ToString("dd-MMMM-yyyy")</td>
            <td>@Convert.ToDateTime(item.UyeGetirTarih).ToString("dd-MMMM-yyyy")</td>
        </tr>


    }
</table>