@using MvcKutuphane.Models.Entity
@*@model List<TBLYazar>*@
@using PagedList
@using PagedList.Mvc
@model IPagedList<TBLYazar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<script type="text/javascript">
    function silme() {
        if (confirm("Silmek istediğinize emin misiniz?") == true) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<h2>Yazarlar</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yazar Adı</th>
        <th>Yazar Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Yazara ait kitaplar</th>


    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.YazarID</td>
            <td>@item.YazarAd</td>
            <td>@item.YazarSoyad</td>
            <td><a href="/Yazar/YazarSil/@item.YazarID"  onclick="return confirm('Silmek istediğinizden emin misiniz ?')" class="btn btn-danger">Sil</a></td>
            <td><a href="/Yazar/YazarGetir/@item.YazarID" class="btn btn-primary">Güncelle</a></td>
            <td><a href="/Yazar/YazarKitapDetay/@item.YazarID" class="btn btn-primary">Detay</a></td>

        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))
<br />

<button class="btn btn-info" data-toggle="modal" data-target="#modal1">Yeni Yazar Ekle</button>
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yeni Kategori Ekleme Paneli</h2>
            </div>
            <form method="post" action="/Yazar/YazarEkle">
                <div class="modal-body">
                    <label>Yazar Adı</label>
                    <input type="text" required name="YazarAd" class="form-control" />
                    <label>Yazar Soyadı</label>
                    <input type="text" required  name="YazarSoyad" class="form-control" />
                    <label>Yazar Detay</label>
                    <textarea class="form-control" required name="YazarDetay" rows="5"></textarea>
                    <br />
                    <button class="btn btn-primary">Yazar Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>


