@using MvcKutuphane.Models.Entity
@model MvcKutuphane.Models.Entity.TBLYazar
@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazar Güncelle</h2>
@using (Html.BeginForm("Guncelle", "Yazar"))
{
    <label>Yazar ID</label>
    @Html.TextBoxFor(p => p.YazarID, new { @class = "form-control" })
    <label>Yazar Adı</label>
    @Html.TextBoxFor(p => p.YazarAd, new { @class = "form-control" })
    <label>Yazar Soyadı</label>
    @Html.TextBoxFor(p => p.YazarSoyad, new { @class = "form-control" })
    <label>Yazar Detay</label>
    @Html.TextAreaFor(p => p.YazarDetay,5,3,new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
}
