@using MvcKutuphane.Models.Entity
@model List<TBLKitap>


@{
    ViewBag.Title = "YazarKitapDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<table class="table table-bordered table-striped alert-default-success">
    <tr>
        <th>Kitap Adı</th>
        <th>Kitap Kategorisi</th>
        <th>Kitap Yayın Evi</th>
      
    </tr>
    @foreach (var item in Model)
    {
        <tr>            
            <td>@item.KitapAd</td>
            <td>@item.TBLKategori.KategoriAd</td>
            <td>@item.YayinEvi</td>
        </tr>
    }
</table> 
