@using MvcKutuphane.Models.Entity
@model List<TBLPersonel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<table class="table table-responsive-lg">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.PersonelID</td>
            <td>@item.Personel</td>
            <td><a class="btn btn-primary" href="/Personel/PersonelGetir/@item.PersonelID">Güncelle</a></td>
            <td><a class="btn btn-danger" href="/Personel/PersonelSil/@item.PersonelID">Sil</a></td>
        </tr>
    }
</table>

<button class="btn btn-info" data-toggle="modal" data-target="#modal1">Yeni Personel Ekle</button>
<div class="modal" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Yeni Kategori Ekleme Paneli</h2>
            </div>
            <form method="post" action="/Personel/PersonelEkle">
                <div class="modal-body">
                    <label>Personel Adı</label>
                    <input type="text" required name="Personel" class="form-control" />
                   <br />
                    <button class="btn btn-primary">Personel Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>

