@using MvcKutuphane.Models.Entity
@model MvcKutuphane.Models.Entity.TBLPersonel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel Güncelleme</h2>
<form method="post" action="/Personel/Guncelle/">
    <label>Personel ID</label>
    @Html.TextBoxFor(p => p.PersonelID, new { @class = "form-control",@readonly="readonly"})
    <label>Personel Adı</label>
    @Html.TextBoxFor(p => p.Personel, new { @class = "form-control", @required = "required" })
    <br /><br />
    <button class="btn btn-success">Personel Güncelle</button>
</form>